button.common {
  padding: 10px 15px;
  border-radius: 25px;
  font-family: "Open-Sans Regular", sans-serif;
  background: #fff;
  color: #414752;
  cursor: pointer;
  font-weight: 600;
  transition: 200ms ease-in-out;

  &:focus {
    outline: none;
  }

  &.fileButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px 20px;
    margin-top: 20px;
    border-radius: 40px;
    border: 1px solid #90A4BD;
    font-weight: 400;
    background: #E0E7EF;
    cursor: pointer;
  }

  &.creation {
    width: 170px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border: 3px solid #FFC796;
    color: #FF922D;
    font-size: 18px;

    &:hover {
      border-color: #FFB800;
      color: #FFB800;
    }
  }

  &.transparent {
    padding: 4px 15px;
    border: 0;
    color: #414752;
    font-size: 18px;

    &:hover {
      color: #676C74;
    }
  }

  &.block-action {
    border: 0;
    color: #9ABDFC;
    padding: 44px 0 0 0;
    background: transparent;
  }
}
